@{
  Layout = "_Layout";
}
<div class="container">
    <h1>Word Counter</h1>

    @* <p>The word @Model.Get_wordToFind() appears @Model.Get_matchCout() times in:</p>
    <p>@Model.Get_stringToSearch().</p> *@

    <h4><a href='/wordcounter/show'>New Word Count</a></h4>
    <h4><a href='/'>Home</a></h4>
</div>
