@{
  Layout = "_Layout";
}
<div class="container">
    <h1>Start A Count</h1>

    <form class="" action="/create" method="post">
      <label for="word">Enter the word you are looking for: </label>
      <input type="text" name="word" id="word">
      <label for="string">Enter the word you are looking for: </label>
      <input type="text" name="string" id="string">
      <button type="submit" class="btn">Go!</button>
    </form>

</div>
