@{
  Layout = "_Layout";
}
<div class="container">
    <h1>Start A Word Count</h1>

    <form class="" action="/wordcounter/show" method="post">
      <label for="wordToFind">Word to find: </label>
      <input type="text" name="wordToFind" id="wordToFind">

      <label for="phraseToSearch">Text to search for the word: </label>
      <input type="text" name="phraseToSearch" id="phraseToSearch">

      <button type="submit" class="btn">Go!</button>
    </form>

</div>
