@{
  Layout = "_Layout";
}
<div class="container">
    <h1>Welcome to the App & Game Hub</h1>
    <p>We currently have an app called Word Counter. Keep checking in! More games and apps are coming.</p>
    <h3><a href='/wordcounter'>Use Word Counter</a></h3>
</div>
