<!DOCTYPE html>
<html>
  <head>
    <title>WordCounter</title>
    <link rel='stylesheet' type="text/css" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  </head>
  <body>
      @RenderBody()
  </body>
</html>
